.btn {
    width: 100%;
    padding: 1rem 3rem;
    font-size: 1.5rem;
    font-weight: 900;
    color: #161a1f;
    text-align: center;
    background-image: linear-gradient(to right, #3ffbe0 , #3fff7c);
    border-radius: .25rem;
}